<form action="/confirmation" method="post">
  <label>Add title:</label>
  <input type='text' placeholder='title' name='title'>
  <label>Add URL:</label>
  <input type='text' placeholder='url' name='url'>
  <button type='submit'>Add to bookmarks</button>
</form>
