<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
        </li>
  <% end %>
</ul>

<form action='/add'>
  <button style='font-size:60px' type='submit'>Add Bookmark</button>
</form>
